body{
    background-color: #f2f2f2
}


.title {
    color: green;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 14pt;
  text-indent: .25in;
}

h1 {
    Color:Green;
}

li{
    
    

Color:green;
}
    
    